.navigation-main-frame{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    height: 80px;
    background-color: #000000;
    padding: 2px;
    display: flex;
}

.rave-logo-frame img{
    margin-left: 45px;
    width: 120px;
    margin-top: 18px;
}
.navigation-frame{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 230px;
}
.link-frame {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 5px;
    list-style: none;
    text-decoration: none;
    color: #FAE0D8;
    text-decoration-color: #FAE0D8;
    margin-right: 150px;
}
.link-frame a{
    color: #3B3086;
    text-decoration-style: solid;
    font-size: medium;
    font-weight: normal;
    text-decoration: none;
    justify-content: space-between;
    margin-left: 50px;
}

.link-bars a:hover{
    box-shadow: inset 100px 0 0 0 #FFC2C0;
    color: white;
}

#Register-button{
    /*background-color: rgba(242, 242, 248, 0.82);*/
    color:#FFC2C0;
    border-color: #FAE0D8;
    transition: background-color;
    transition-duration: 200ms;
    cursor: pointer;
    background: transparent;
    height: 50px;
    width: 200px;
    left: 181px;
    margin-top: 15px;
    margin-left: 175px;
    border-radius: 10px;
    padding: 8px 16px 8px 16px;
    font-weight: bolder;
    font-size: large;
}
#Register-button:hover{
    /*box-shadow: inset 200px 0 0 0 #368db2;*/
    background-color: #FAE0D8;
}